.table-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select-sheet {
    margin-left: 1rem;
    margin-right: .5rem;
}

.select-yearly {
    margin-left:.5rem;
    margin-right:1rem;
}

.label {
    text-align: left;
    max-width: 19rem;
}

.data {
    text-align: right;
}

.caption {
    margin: 1rem;
}

.statement-header {
    text-align: center;
}

