.table-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 40rem;
    margin: auto;
}

.select-sheet {

}

.select-yearly {

}

.label {
    text-align: left;
    max-width: 19rem;
}

.data {
    text-align: right;
}

.caption {
    margin: 1rem;
}

.statement-header {
    text-align: center;
}

